<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <a href="">Home</a>
        <a href="./cadastro/cadastro.html">Cadastro</a>
        <a href="">Musicas</a>
        <a href="">Estilos</a>
        <a href="">Artistas</a>
        <a href="">Albuns</a>
        <a href="">Gravadoras</a>
    </nav>
    
    <header>
        <h1>Hello World Electron!</h1>
        <p>Criando APPs desktop com JS.</p>
    </header>
    
    <main>
        <div>
            <h3>Organize seu catalogo de músicas</h3>
        </div>        
    </main>   
</body>
</html>