<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">Home</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="../cadastro/cadastro.html">Cadastro</a></li>
                <li class="nav-item"><a class="nav-link" href="./musica.html">Músicas</a></li>
                <li class="nav-item"><a class="nav-link" href="../estilo/estilo.html">Estilos</a></li>
                <li class="nav-item"><a class="nav-link" href="../artistas/artista.html">Artistas</a></li>
                <li class="nav-item"><a class="nav-link" href="../albuns/album.html">Álbuns</a></li>
                <li class="nav-item"><a class="nav-link" href="../gravadora/gravadora.html">Gravadoras</a></li>
            </ul>
        </div>
    </nav>
    
    <main class="container mt-4">
        <h2>Gerenciar Músicas</h2>
        <div class="row mb-3">
            <div class="col">
                <input type="text" id="search" class="form-control" placeholder="Buscar música...">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" id="btnSearch">Buscar</button>
            </div>
        </div>
        <table class="table table-striped" id="table-musica">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Duração</th>
                    <th>Data Lançamento</th>
                    <th>Estilo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <nav>
            <ul class="pagination" id="pagination"></ul>
        </nav>
    </main>

    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="./rendererMusica.js"></script>
</body>
</html>